<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="img/fav.png">
    <meta name="author" content="CodePixar">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="UTF-8">
    <title>Healara Fashions</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/nouislider.min.css">
    <link rel="stylesheet" href="css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="css/ion.rangeSlider.skinFlat.css" />
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/main.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

    
    
    <style>
        /* Custom styles for navbar alignment and height */
        .navbar {
            padding: 5px 0; /* Reduce navbar height */
        }

        .navbar-nav {
            display: flex;
            align-items: center; /* Center align items vertically */
            margin: 0; /* Remove any default margin */
        }

        .nav-item {
            margin: 0 10px; /* Space between nav items */
        }

        /* Center the cart and search icons */
        .navbar-nav .nav-item:last-child {
            margin-left: auto; /* Push the last items (cart, search) to the right */
        }

        .nav-item .search,
        .nav-item .cart {
            display: flex;
            align-items: center;
            justify-content: center; /* Center align icons */
            height: 100%; /* Ensure they take the full height of the navbar */
        }

        /* Additional styles to align search input */
        .search_input {
            display: flex;
            align-items: center; /* Center the search input vertically */
        }
    </style>

<style>
    .input-group-text {
        background: none;
        border: none;
    }
    #globalSearchToggle {
        margin-right: 5px;
    }
</style>

</head>

<body>
    <!-- Start Header Area -->
    <header class="header_area sticky-header">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light main_box">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="/"><img src="img/logo.png" alt="logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item ">
                                <a href="/shop-page" class="nav-link "
                                   >Shop</a>
                               
                                </li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                    aria-expanded="false">Blog</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                                    <li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                    aria-expanded="false">Pages</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                                    <li class="nav-item"><a class="nav-link" href="tracking.html">Tracking</a></li>
                                    <li class="nav-item"><a class="nav-link" href="elements.html">Elements</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item"><a href="/userCart" class="cart"><span class="ti-bag"></span></a></li>
                            <li class="nav-item">
                                <button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
                            </li>

                            <!-- Login/Logout Links -->
                            <% if (locals.user) { %>
                                <li class="nav-item submenu dropdown">
                                    <a href="#" class="nav-link dropdown-toggle login" data-toggle="dropdown" role="button"
                                        aria-haspopup="true" aria-expanded="false"><span class="ti-user"></span> <%= locals.user.name %></a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/userProfile">Profile</a>
                                        <a class="dropdown-item" href="/logout">Logout</a>
                                    </div>
                                </li>
                            <% } else { %>
                                <li class="nav-item"><a href="/login" class="nav-link login"><span class="ti-user"></span> Login</a></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <!-- Search Input Box -->
        <div class="search_input" id="search_input_box">
            <div class="container">
                <form class="d-flex justify-content-between" action="/search" method="GET">
                    <div class="input-group">
                        <input type="text" class="form-control" name="q" id="search_input" placeholder="Search Here">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <input type="checkbox" name="globalSearch" id="globalSearchToggle" value="true">
                                <label for="globalSearchToggle" class="ml-2">
                                    <i class="fa fa-globe" title="Global Search"></i>
                                </label>
                            </span>
                        </div>
                    </div>
                    <button type="submit" class="btn"></button>
                    <span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
                </form>
            </div>
        </div>
    </header>

</body>

</html>
